/*
 * 招聘广告通用部分
 * 2014.9.1
 * by zisasign
 *
 *
 **************************************************************/

/* 整体div设置 */
.jobAds {
  display: none;
  position: relative;
  overflow: hidden;
  background-color: white;
}

/* 取消dl dd dt的margin样式 */
.jobAds .position-item dl, .jobAds .position-item dd, .jobAds .position-item dt {
  margin: 0;
} 

/* 每个插入的职位元素 */
.jobAds .position-item {
  display: block;
  overflow: hidden;
  cursor: pointer;
  z-index: 68;
}

.jobAds .position-item dl {
  display: block;
  position: relative;
}

/* 推广图的z-index固定 */
.jobAds .promo {
  position: relative;
  z-index: 70;
}

/* 取消职位列表的margin、表单样式 */
.jobAds .positions-list {
  position: relative;
  list-style: none;
  margin: 0;
}

.jobAds .position-item {
  position: relative;
}

/* 职位item hover时 的样式 */
.jobAds .position-item:hover {
  text-shadow: 2px 2px rgba(212, 212, 212, 0.45);
}

.jobAds dd, .jobAds dt {
  position: absolute;
  display: block;
  overflow: hidden;
}

/* 控制按钮统一布局 */
.jobAds .job-buttons {
  position: relative;
  background-color: white;
  cursor: pointer;
  z-index: 70;
}

/* 按钮图标 许自行指定width, height, margin-left, margin-top使其居中 */
.jobAds .job-buttons i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}

/* 如果是左右按键 两按键分开 则绝对定位 */
.jobAds .right-button, .jobAds .left-button {
  position: absolute;
}

/*通用部分结束 *************************************************/

/*位置1 看点 观点 内容页 评论上 **********************************/

.jobAds-1 {
  display: none;
  position: relative;
  width: 630px;
  height: 80px;
  margin: 15px 0;
  font-size: 12px;
  background-color: #FFF;
}

.jobAds-1 .promo {
  float: left;
  width: 165px;
}

.jobAds-1 .positions {
  position: relative;
  width: 434px;
  margin-left: 179px;
  height: 100%;
  overflow: hidden;
}

.jobAds-1 .positions-list {
  height: 100%;
  width: 1000px;
}

.jobAds-1 .position-item {
  float: left;
  width: 92px;
  height: 64px;
  padding: 8px;
}

.jobAds-1 .title {
  top: 20px;
  max-width: 96px;
  height: 20px;
  line-height: 20px;
  color: #999999;
  font-family: 'Simsun';
  font-weight: normal;
  font-size: 14px;
}

.jobAds-1 .company {
  height: 20px;
  max-width: 96px;
  line-height: 20px;
  top: 0px;
  color: #656565;
  font-family: 'Simsun';
  font-size: 14px;
  font-weight: bold;
}

.jobAds-1 .salary {
  top: 40px;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  color: #ff9900;
}

.jobAds-1 .salary em {
  font-style: normal;
  vertical-align: baseline;
}


.jobAds-1 .position-item:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 42px;
  right: 0;
  top: 22px;
  border-right: 1px solid #CCC;
}

.jobAds-1 .position-item:nth-child(n+4):after   {
  border-right: 0;
}

.jobAds-1 .position-item:last-child {
  padding-right: 2px;
}

.jobAds-1 .job-buttons {
  width: 14px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
}

.jobAds-1 .left-button {
  left: 165px;
}

.jobAds-1 .right-button {
  right: 0px;
}

.jobAds-1 .job-buttons i {
  width: 8px;
  height: 16px;
  margin-top: -7px;
  margin-left: -4px;
}

.jobAds-1 .right-button i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -14px -2px no-repeat;
}

.jobAds-1 .left-button i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -2px -2px no-repeat;
}

.jobAds-1 .right-button:hover i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -14px -21px no-repeat;
}

.jobAds-1 .left-button:hover i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -2px -21px no-repeat;
}

/*位置1 结束 ************************************************/

/*位置2 看点 观点 内容页 右侧通栏位置 2 *************************/

.jobAds-2 {
  width: 268px;
  height: 192px;
  margin-top: 10px;
  border: 6px solid #ff5700;
}

.jobAds-2 .positions {
  height: 120px;
  width: 268px;
}

.jobAds-2 .positions-list {
  height: 100%;
  width: 2000px;
}

.jobAds-2 .position-item {
  float: left;
  width: 268px;
  height: 59px;
  border-bottom: 1px solid #EFEFEF;
}

.jobAds-2 .position-item dl {
  padding: 0 14px;
  height: 60px;
}

.jobAds-2 .title {
  top: 10px;
  max-width: 152px;
  height: 24px;
  line-height: 24px;
  font-family: 'Simsun';
  font-size: 16px;
  font-weight: 800;
  color: #777;
}

.jobAds-2 .company {
  top: 30px;
  max-width: 152px;
  height: 24px;
  line-height: 24px;
  font-family: 'Simsun';
  font-size: 12px;
  color: #a7a7a7;
}

.jobAds-2 .salary {
  top: 8px;
  right: 14px;
  height: 24px;
  line-height: 20px;
  color: #F45000;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, "Microsoft Yahei","冬青黑体简体中文 w3","宋体";
  overflow: inherit;
}

.jobAds-2 .salary em {
  position: relative;
  font-style: normal !important;
  font-size: 14px;
  top: 4px;
  vertical-align: super;
}

.jobAds-2 .job-buttons {
  width: 14px;
  height: 120px;
  top: 50%;
  margin-top: -24px;
}

.jobAds-2 .left-button {
  left: 0px; 
}

.jobAds-2 .right-button {
  right: 0px;
}

.jobAds-2 .job-buttons i {
  width: 8px;
  height: 16px;
  margin-top: -7px;
  margin-left: -4px;
}

.jobAds-2 .right-button i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -14px -2px no-repeat;
}

.jobAds-2 .left-button i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -2px -2px no-repeat;
}

.jobAds-2 .right-button:hover i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -14px -21px no-repeat;
}

.jobAds-2 .left-button:hover i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -2px -21px no-repeat;
}

/*位置2 结束 ************************************************/

/*位置3 位置4 目前都为拉勾的同一广告样式 *************************/
/*位置3 看点 观点 文章页右侧 位置3 *************************/
/*位置4 首页 右侧 位置4 *************************/

.jobAds-3, .jobAds-4 {
  width: 268px;
  height: 168px;
  border: 6px solid #28d28d;
}

.jobAds-3 .positions, .jobAds-4 .positions {
  width: 268px;
  height: 94px;
}

.jobAds-3 .position-item, .jobAds-4 .position-item {
  height: 94px;
}

.jobAds-3 .position-item dl, .jobAds-4 .position-item dl {
  padding: 0 12px;
  margin: 0;
  height: 94px;
}


.jobAds-3 .title, .jobAds-4 .title {
  top: 10px;
  max-width: 152px;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  color: #27ce8a;
}

.jobAds-3 .company, .jobAds-4 .company {
  top: 38px;
  max-width: 270px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #333;
}

.jobAds-3 .advantage, .jobAds-4 .advantage {
  top: 62px;
  max-width: 240px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #797979;
}

.jobAds-3 .salary, .jobAds-4 .salary {
  top: 10px;
  right: 24px;
  height: 24px;
  line-height: 24px;
  color: #555;
  font-size: 14px;
  font-weight: normal;
}

.jobAds-3 .salary em, .jobAds-4 .salary em {
  position: relative;
  font-style: normal !important;
  font-size: 18px;
  color: #22d58c;
  margin-left: 4px;
  margin-right: 2px;
  vertical-align: baseline;
}

.jobAds-3 #control, .jobAds-4 #control {
  position: absolute;
  width: 14px;
  height: 96px;
  top: 74px;
  right: 0;
  background: #FFF;
  border-left: 1px solid #EFEFEF;
  z-index: 69;
}

.jobAds-3 #control .job-buttons, .jobAds-4 #control .job-buttons {
  width: 14px;
  height: 48px;
  float: right;
  border-bottom: 1px solid #EFEFEF;
}

.jobAds-3 #control .job-buttons i, .jobAds-4 #control .job-buttons i {
  margin-top: -6px;
  margin-left: -7px;
  width: 14px;
  height: 12px;
}

.jobAds-3 #control .down-button i, .jobAds-4 #control .down-button i {
  background: url('/static/img/jobAds/jobAds_arrows.png?20140829') -59px -6px no-repeat;
}

.jobAds-3 #control .down-button:hover i, .jobAds-4 #control .down-button:hover i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -59px -18px no-repeat;
}


.jobAds-3 #control .up-button i, .jobAds-4 #control .up-button i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -71px -6px no-repeat;
}

.jobAds-3 #control .up-button:hover i, .jobAds-4 #control .up-button:hover i {
  background: url('/static/img/jobAds/jobAds_arrows.png') -71px -18px no-repeat;
}

/*位置3 位置4 结束 ******************************************/